.App {
  height: auto;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(30, 30, 30);
}

.cryptoHeader {
  width: 100%;
  height: 150px;
  background-color: rgb(255, 141, 100);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 141, 100);
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  padding-top: 20px; 
  padding-left: 5px;
}

.cryptoHeader input {
  width: 55%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cryptoBody {
 margin-top: 20px;
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}


.coin {
  width: 550px;
  height: 300px;
  background-color: rgb(30, 30, 30);
  color: azure;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}

.coin:hover {
  transform: translate3d(0, -5px, 0);
}

.coin img {
  height: 60px;
  width: auto;
}